$min-width: 320px; 
$max-width: 1240px;

$black: #000;
$white: #fff;
$vintage: #d8bba3;
$gray: #fafbfc;
$gold: #d8bba3;
$peach: #e6cfbd;
$peach-light: #efe1d8;
$gray-dark: #aeaeac;
$gray-light: #4e4e4e;
$gray-text: #939393;
$gray-bg: #f2f2f4;

$link-color: $black;

$base-background: $white;
$base-color: $black;
$base-font-family: 'Open Sans', sans-serif;
$second-font-family: 'Roboto Slab', serif;
$third-font-family: 'Open Sans Condensed', sans-serif;
$fourth-font-family: 'Roboto', sans-serif;
$base-font-size: 16px;
$base-line-height: 140%;
$base-letter-spacing: 0;

$heading-color: $black;
//$heading-font-family: 'Merriweather', serif;
//$heading-second-font-family: 'Merriweather Sans', serif;
$heading-font-weight: 300;
$heading-second-font-weight: 800;
$heading-line-height: 1.18em;
